/* uic-flexy-table START */

/**
 * This css file enables tables to be displayed on narrow screens
 * Version 1.2
 * It renders tables with the flex display model
 * Any tr gets the 'flex' value for the display property
 * The table head's display value is set to 'none'
 * These css rules work best if any td content is wrapped into a span-element that is preceded by a label
 * indicating the property the value belongs to
 */

table.uic-flexy-table thead {
    display:block; display:none;
}

table.uic-flexy-table tbody {
    display:block;
}

table.uic-flexy-table tr {
    display:flex;
    margin:0px 0px;
    padding:12px;
    flex-wrap:wrap;
    justify-content:space-between;
}

table.uic-flexy-table tr + tr {
    border-top:1px solid #ccc;
}

table.uic-flexy-table td {
    display:block;
    padding:0px 8px !important;
    margin:2px 0px 2px 0;
    justify-content:space-between;
    flex-wrap:no-wrap;
    flex-grow:0;
    flex-shrink:1;
    overflow:hidden;
    text-overflow:ellipsis;
}

/* css for labels */
table.uic-flexy-table td label {
    display:inline-block;
    margin-bottom:0 !important;
    text-shadow:1px 1px 0px rgba(255, 255, 255, 1);
    white-space:nowrap;
}

table.uic-flexy-table td label:after {
    content:':';
    display:inline-block;
    padding-right:8px;
}

/* css for content spans */
table.uic-flexy-table td span {
    display:inline;
    margin-bottom:0 !important;
    flex-grow:0;
    flex-shrink:1;
    white-space:normal;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#888;
}

table.uic-flexy-table td.uic-neg span {
    color:rgb(204, 0, 0);
}

/* uic-flexy-table END */